body {
    font-family: Arial;
    background-image: url(https://c.pxhere.com/photos/22/a7/milky_way_space_universe_night_sky_background_astronomy_star_night-1090931.jpg!d);
}

.main-nav {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px 20px 0px 0px;
}

li {
    list-style: none;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    transition-duration: 1s;
}

nav a:hover {
    background-color: rgba(256,256,256,0.5);
    border-radius: 10px;
    transition-duration: 1s;
}

.container {
    margin: 50px 250px;
    background-color: rgba(0,0,0,0.5);
    height: auto;
    box-shadow: 0px 0px 24px 5px rgba(245,228,159,1);
    border-radius: 20px 20px 20px 20px;
}

.content {
    padding: 5px 30px 30px 30px;
    color: white;
    font-size: 1.2em;
}

a {
    color: rgba(245,228,159,1);
    text-decoration: none;
}

a:hover {
    box-shadow: 0px 0px 24px 5px rgba(245,228,159,1);
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .container {
        margin: 50px;
        background-color: black;
        height: auto;
    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 0.7;
    transition-duration: 1s;
}

img:hover {
    opacity: 1.0;
    transition-duration: 1s;
}

.testing {
    float: right;
    width: 300px;
    height: auto;
}